# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Streamlit
.streamlit/
static/

# IDEs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Deployment
hf_upload.py
.env
